{% extends "layout.html" %}
{% block body %}
  <div style="margin-top: 50px">
  <form action="{{ url_for('search') }}" method="post">
    <div class="form-group">
    <div class="form-row">
      <div class="col-11">
        <input type="text" class="form-control" name="search"
               placeholder="Search the KJV">
      </div>
      <div class="col-1">
        <button type="submit" class="btn btn-outline-primary">Search</button>
      </div>
    </div>
    </div>
  </form>
  </div>
{% endblock %}

        
          
              
